:root {
	--background-all: #ffffff;
	--background-footer: #2f303a;
	--color-address: rgba(255, 255, 255, 0.6);
	--color-all: #212121;
	--color-address-street: #ffffff;
	--color-logo-footer: #ffffff;
	--color-logo-header: #000000;
	--color-logo-web: #2196f3;
	--color-select: #2196f3;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--color-all);
	background: var(--background-all);
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.logo-header {
	color: var(--color-logo-header);
}

.logo-footer {
	color: var(--color-logo-footer);
}

.logo-color-web {
	color: var(--color-logo-web);
}

.menu {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.menu-list {
	list-style-type: none;
}

.menu-list-item:visited {
	color: inherit;
}

.menu-list-item:hover {
	color: #2196f3;
}

.menu-list-item:focus {
	color: #2196f3;
}

.contact {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
}

.contact:visited {
	color: inherit;
}

.contact:hover {
	color: var(--color-select);
}

.contact:focus {
	color: var(--color-select);
}

.footer {
	background: var(--background-footer);
}

.address {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-address);
}

.address-street {
	color: var(--color-address-street);
}
